{% extends 'base/app.html.twig' %}
{% block title %}{% trans %}terms.conditions.title{% endtrans %}{% endblock %}
{% block body %}
	<div class="container">
		<h1>{% trans %}terms.conditions.title{% endtrans %}</h1>
	</div>
{% endblock %}

