//$black : #2d2d2d;
//$light-grey : #e3e3e3;
//$white: #f6f6f8;
//$primary: #d3d41f;
//$red:#c60021;
//$light-pink:#f8e5e5;
//$pink:#fa255e;
$background-light : #c5c1c0;
$background-dark  : #0a1612;
$text-dark        : #0a1612;
$text-light       : #ffffff;
//$primary          : #77c9d4;
$primary          : #1E5078;
$secondary        : #1a2930;