<div class="vehicle__info__card">
	<div class="vehicle__info__card-column">
		<h5>List all stuff in two columns, with button like headers</h5>
	</div>
	<div class="vehicle__info__card-column">
		<h5>Columns are 50% wide on all but mobile, meaning 100% default width for mobile first philosophy</h5>
	</div>
</div>