{% extends "base/app.html.twig" %}
{% block title %}{% trans %}register.success{% endtrans %}{% endblock %}
{% block body %}
	<div class="container">
		<h1>{% trans %}register.thank_you.heading{% endtrans %}</h1>
		<p>{% trans %}register.thank_you.text{% endtrans %}</p>
	</div>
{% endblock %}